@use "./../global" as *;

.masterpiece-body {
  .masterpiece-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem 10rem;
    margin-top: 3rem;
  
    .masterpiece-detail {
      @include pc {
        width: calc(50% - 50px);
      }
      @include sp {
        width: 100%;
      }
      .img-wrap {
        cursor: pointer;
        overflow: hidden;
        border-radius: 1rem;

        .c-img {
          transition: transform 0.3s ease;
          &:hover {
            @include pc {
              transform: scale(1.1);
            }
          }
        }
      }
      .c-description-list {
        margin-top: 1.6rem;
      }
    }
  }
  .outside-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 20;
    animation: zoomIn 0.3s ease-out;

    @keyframes zoomIn {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
    @keyframes zoomOut {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(0);
      }
    }
    .inside-modal {
      padding: 5%;
      width: 70%;
      height: 70%;
      background: rgb(255, 255, 255, 0.2);
      border-radius: 16px;
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 80px;
        height: 80px;

        .fa-solid {
          font-size: 80px;
        }
      }
      .xmark-buttom {
        position: absolute;
        top: 0;
        right: 0;
      }
      .modal-detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .masterpiece-img-wrap {
          width: 65%;
          height: 100%;
          overflow-y: scroll;
          display: flex;

          .masterpiece-img {
            width: 100%;
            height: auto;
            margin: auto 0;
            // 縦長の画像をスクロールをさせずに画面内で収めさせたい場合はmax-height: 100%;のコメントを外し、overflow-y: scroll;を消す
            // max-height: 100%;
          }
        }
      }
    }
  }
}