@use "./../global" as *;

.news-body {
  .news-link {
    display: block;
    margin-top: 3.2rem;

    .news-header-row {
      font-size: 2rem;
      display: flex;
      gap: 2rem;

      .news-date {
        font-weight: 800;
      }
    }
    .news-summary {
      margin-top: 1.2rem;
    }
  }
}
.pagination-container {
  margin-top: 3.2rem;
  .pagination {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
  }
}
.pagination .is-current a {
  color: red;
  font-weight: bold;
  pointer-events: none;
}