@use "./../global" as *;

.send-completely-body {
  justify-content: center;
  align-items: center;
  font-family: serif;

  p {
    text-align: center;
    margin-top: 1.6rem;
  }
  a {
    margin-top: 1.6rem;
  }
}