@use "./../global" as *;

.c-image {
    width: 100%;
}
.page-title {
  font-family: serif;
  font-weight: 800;
  text-align: center;
  @include pc {
    font-size: 4rem;
  }
  @include sp {
    font-size: 2.7rem;
  }
}
.c-text {
  @include pc {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  @include sp {
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
.c-text-indent {
  display: list-item;
  text-indent: -1.6rem;
  padding-left: 1.6rem;
  list-style: none;
}
.c-heading__h1 {
  line-height: 1.3;

  @include pc {
    font-size: 8rem;
  }
  @include sp {
    font-size: 4.3rem;
  }
}
.c-heading__h2 {
  line-height: 1.3;

  & + .c-heading__h3,
  & + .c-list {
    margin-top: 0 !important;
  }

  @include pc {
    font-size: 4.3rem;
    margin-bottom: 40px;
  }
  @include sp {
    font-size: 3.2rem;
    margin-bottom: 24px;
  }
}
.c-heading__h3 {
  line-height: 1.3;

  @include pc {
    font-size: 3.2rem;
  }
  @include sp {
    font-size: 2.6rem;
  }
}
.c-heading__h4 {
  line-height: 1.3;

  @include pc {
    font-size: 2.6rem;
  }
  @include sp {
    font-size: 2.1rem;
  }
}
.c-heading__h5 {
  line-height: 1.3;

  @include pc {
    font-size: 2.1rem;
  }
  @include sp {
    font-size: 1.8rem;
  }
}
.c-text-asterisk {
  font-size: 1.2rem;
}

.c-description-list {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.6rem 1.6rem;
  align-items: center;

  .c-description-term {
    font-weight: 800;
  }
}

.c-list-container {
  margin-top: 4.5rem;
}
.c-list {
  li {
    text-indent: -1.6rem;
    padding-left: 1.6rem;

    @include pc {
      margin-bottom: 6px;
    }
    @include sp {
      margin-bottom: 4px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .indentation {
      margin-left: 1.6rem;
    }
  }
}
.c-img {
  width: 100%;
}
.c-link-underline {
  color: red;
  
  @include pc {
    position: relative;
    text-decoration: none;
  }
  &::before {
    @include pc {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 0;
      width: 0;
      height: 1px;
      background-color: yellow;
      transition: width 0.3s ease-in-out;
    }
  }
  &:hover {
    @include pc {
      color: yellow;
    }
  }
  &:hover::before {
    @include pc {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}